<html>
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
         <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
         <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
         <link rel="stylesheet" href="/css/styles.css" type="text/css">
        <title>Hair Salon: Edit Client</title>
    </head>
    <body>
        <nav>
            <div class="nav-wrapper">
                <a href="/" class="brand-logo">Hair Salon</a>
            </div>
        </nav>
        <div class="container">
            <div>
                <h1>Update {{ client.getRestName }} Information</h1>
            </div>

            <form action="/clients/{{ client.getClientId }}/client_name" method="post">
                <input name="_method" type="hidden" value="patch">

                <div class="input-field">
                  <label for="client_name">Rename your client:</label>
                  <input id="client_name" name="client_name" type="text" required>
                </div>

                <button class="btn waves-effect blue darken-1 waves-light" type="submit">Update</button>
            </form>


            <form action="/clients/{{ client.getClientId }}/phone" method="post">
                <input name="_method" type="hidden" value="patch">
                <div class="input-field">
                    <label for="phone">New Phone:</label>
                    <input id="phone" name="phone" type="text" required>
                </div>

                <button class="btn waves-effect blue darken-1 waves-light" type="submit">Update</button>
            </form>

            <form action="/clients/{{ client.getClientId }}/email" method="post">
                <input name="_method" type="hidden" value="patch">

                <div class="input-field">
                    <label for="email">New Email:</label>
                    <input id="email" name="email" type="text" required>
                </div>

                <button class="btn waves-effect blue darken-1 waves-light" type="submit">Update</button>
            </form>

            <form action="/clients/{{ client.getClientId }}/delete" method="post">
                <input name="_method" type="hidden" value="delete">
                <button class="btn waves-effect blue darken-1 waves-light" type="submit" name="button">Delete client</button>
            </form>
            <p><a href='/'>Home</a></p>
        </div>
    </body>
</html>
